.tp-section-title-span-padding span {
  padding-left: 175px;
  display: block;
}

.header-main-menu nav ul li.wp-menu-item-last .submenu:not(.tp-mega-menu) {
  left: 0;
}

.tp-shop-details-left-wrap .tp-shop-details-left-thumb img {
  width: 100%;
}

.liko-dark-active div .elementor-heading-title,
.liko-dark-active div .elementor-heading-title a span {
  color: var(--tp-common-white) !important;
}
.liko-dark-active div .tp-el-footer-links ul li a {
  -webkit-text-fill-color: var(--tp-common-white) !important;
  color: var(--tp-common-white) !important;
}

.liko-dark-active .sidebar__widget.widget_tag_cloud .tagcloud a {
  color: var(--tp-common-white);
  border: 1px solid rgba(245, 247, 245, 0.1);
}

.liko-dark-active .sidebar__widget.widget_tag_cloud .tagcloud a:hover {
  color: var(--tp-common-black);
  border-color: var(--tp-common-white);
  background: var(--tp-common-white);
}
.liko-dark-active .project-details-1-navigation span {
  color: var(--tp-common-white);
}

.liko-dark-active .comment-reply-title {
  color: var(--tp-common-white);
}

.liko-dark-active p.logged-in-as a {
  color: var(--tp-common-white);
}

.liko-dark-active .sidebar__search input {
  border-bottom: 1px solid rgba(245, 247, 245, 0.14) !important;
  color: var(--tp-common-white);
  background: transparent;
  border: 0px;
}

.liko-dark-active .sidebar__search input:focus {
  border-bottom: 1px solid var(--tp-common-white) !important;
}

.liko-dark-active .liko-breadcrumb-padding {
  background: #121212;
  background-color: #121212;
}

.liko-dark-active .tp-login-remember label {
  color: rgba(255, 255, 255, 0.6);
}

.liko-dark-active .tp-login-input-label label {
  color: var(--tp-common-white);
}
.liko-dark-active .wc-block-cart-items thead tr {
  background: var(--tp-common-white);
  padding: 30px;
}
.liko-dark-active .wc-block-cart-items thead tr th {
  padding: 8px 16px 8px 16px;
}

.liko-dark-active
  .wc-block-cart-items
  thead
  tr
  .wc-block-cart-items__header-product {
  visibility: visible;
}
.liko-dark-active .wc-block-cart-item__wrap a,
.liko-dark-active .wc-block-cart-item__wrap ins {
  color: var(--tp-common-white);
}

.liko-dark-active .wc-block-cart-item__wrap del {
  color: #818487 !important;
  margin-right: 10px;
}
.liko-dark-active .wc-block-components-quantity-selector {
  background: var(--tp-common-white);
}
.liko-dark-active
  .wc-block-cart-item__wrap
  button.wc-block-cart-item__remove-link {
  color: #ebebeb !important;
}
.liko-dark-active
  .wc-block-cart-item__total
  .wc-block-components-product-price {
  color: var(--tp-common-white);
}

.liko-dark-active .wc-block-components-totals-wrapper {
  border-top: 1px solid rgba(245, 247, 245, 0.1);
}
.liko-dark-active .wp-block-woocommerce-cart-order-summary-totals-block {
  border-top: 1px solid #e0e2e3;
}

.liko-dark-active .wc-block-components-totals-item__label {
  color: var(--tp-common-white);
}
